Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [done] Choose your target. Which column in your tabular dataset will you predict?

I will predict rating, food_rating and service rating. Going to target 3 different predictions.

- [done] Choose which observations you will use to train, validate, and test your model. And which observations, if any, to exclude.

I will do a train_test split for validation once I finish cleaning and merging the data.

- [done] Determine whether your problem is regression or classification.

This problem falls under classification because of the finite number of ratings the restaurant can receive; I can however use regression as a means of predicting because the ratings are numeric.

- [unfinished] Choose your evaluation metric.

I still need to further explore how I will evaluate once I start implementing different models.

- [unfinished] Begin to clean and explore your data.

- [unfinished] Begin to choose which features, if any, to exclude. Would some features "leak" information from the future?

### Restaurants
1 chefmozaccepts.csv
2 chefmozcuisine.csv
3 chefmozhours4.csv
4 chefmozparking.csv
5 geoplaces2.csv

### Consumers
6 usercuisine.csv
7 userpayment.csv
8 userprofile.csv

### User-Item-Rating
9 rating_final.csv

In [88]:
#1 chefmozaccepts.csv 2 chefmozcuisine.csv 3 chefmozhours4.csv 4 chefmozparking.csv 5 geoplaces2.csv
payment_methods_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozaccepts.csv'
cuisine_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozcuisine.csv'
hours_operating_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozhours4.csv'
parking_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozparking.csv'
geo_places_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/geoplaces2.csv'
#6 usercuisine.csv 7 userpayment.csv 8 userprofile.csv
user_cuisine_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/usercuisine.csv'
user_payment_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/userpayment.csv'
user_profile_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/userprofile.csv'
#9 rating_final.csv
rating_final_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/rating_final.csv'
import pandas as pd

In [79]:
payment_methods = pd.read_csv(payment_methods_url, na_values= '?')
print(payment_methods.isnull().sum())
print(payment_methods.shape)
print(payment_methods.info())
payment_methods.head(10)

placeID     0
Rpayment    0
dtype: int64
(1314, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 2 columns):
placeID     1314 non-null int64
Rpayment    1314 non-null object
dtypes: int64(1), object(1)
memory usage: 20.6+ KB
None

   placeID             Rpayment
0   135110                 cash
1   135110                 VISA
2   135110  MasterCard-Eurocard
3   135110     American_Express
4   135110     bank_debit_cards
5   135109                 cash
6   135107                 cash
7   135107                 VISA
8   135107  MasterCard-Eurocard
9   135107     American_Express

In [87]:
payment_methods.groupby('placeID')

In [89]:
pd.get_dummies(payment_methods,columns=['Rpayment'])

,placeID,Rpayment_American_Express,Rpayment_Carte_Blanche,Rpayment_Diners_Club,Rpayment_Discover,Rpayment_Japan_Credit_Bureau,Rpayment_MasterCard-Eurocard,Rpayment_VISA,Rpayment_Visa,Rpayment_bank_debit_cards,Rpayment_cash,Rpayment_checks,Rpayment_gift_certificates
0,135110,0,0,0,0,0,0,0,0,0,1,0,0
1,135110,0,0,0,0,0,0,1,0,0,0,0,0
2,135110,0,0,0,0,0,1,0,0,0,0,0,0
3,135110,1,0,0,0,0,0,0,0,0,0,0,0
4,135110,0,0,0,0,0,0,0,0,1,0,0,0
5,135109,0,0,0,0,0,0,0,0,0,1,0,0
6,135107,0,0,0,0,0,0,0,0,0,1,0,0
7,135107,0,0,0,0,0,0,1,0,0,0,0,0
8,135107,0,0,0,0,0,1,0,0,0,0,0,0
9,135107,1,0,0,0,0,0,0,0,0,0,0,0
10,135107,0,0,0,0,0,0,0,0,1,0,0,0
11,135106,0,0,0,0,0,0,0,0,0,1,0,0
12,135106,0,0,0,0,0,0,1,0,0,0,0,0
13,135106,0,0,0,0,0,1,0,0,0,0,0,0
14,135105,0,0,0,0,0,0,0,0,0,1,0,0
15,135104,0,0,0,0,0,0,0,0,0,1,0,0
16,135104,0,0,0,0,0,0,1,0,0,0,0,0
17,135104,0,0,0,0,0,1,0,0,0,0,0,0
18,135103,0,0,0,0,0,0,0,0,0,1,0,0
19,135103,0,0,0,0,0,0,1,0,0,0,0,0
20,135103,0,0,0,0,0,1,0,0,0,0,0,0
21,135102,0,0,0,0,0,0,0,0,0,1,0,0
22,135102,0,0,0,0,0,0,1,0,0,0,0,0
23,135102,0,0,0,0,0,1,0,0,0,0,0,0
24,135102,0,0,0,0,0,0,0,0,1,0,0,0
25,135101,0,0,0,0,0,0,0,0,0,1,0,0
26,135100,0,0,0,0,0,0,0,0,0,1,0,0
27,135099,0,0,0,0,0,0,0,0,0,1,0,0
28,135099,0,0,0,0,0,0,1,0,0,0,0,0
29,135099,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,132031,0,0,0,0,0,0,0,0,1,0,0,0
1285,132030,0,0,0,0,0,0,0,1,0,0,0,0
1286,132030,1,0,0,0,0,0,0,0,0,0,0,0
1287,132030,0,0,0,0,0,0,0,0,0,0,0,1
1288,132030,0,0,0,0,0,0,0,0,1,0,0,0
1289,132030,0,0,1,0,0,0,0,0,0,0,0,0
1290,132026,0,0,0,0,0,0,0,1,0,0,0,0
1291,132026,1,0,0,0,0,0,0,0,0,0,0,0
1292,132026,0,0,0,0,0,0,0,0,1,0,0,0
1293,132026,0,0,1,0,0,0,0,0,0,0,0,0
1294,132024,0,0,0,0,0,0,0,1,0,0,0,0
1295,132024,1,0,0,0,0,0,0,0,0,0,0,0
1296,132024,0,0,0,0,0,0,0,0,1,0,0,0
1297,132024,0,0,1,0,0,0,0,0,0,0,0,0
1298,132023,1,0,0,0,0,0,0,0,0,0,0,0
1299,132023,0,0,0,0,1,0,0,0,0,0,0,0
1300,132023,0,0,0,0,0,0,0,0,1,0,0,0
1301,132023,0,0,1,0,0,0,0,0,0,0,0,0
1302,132019,0,0,0,0,0,1,0,0,0,0,0,0
1303,132019,0,0,0,0,0,0,0,1,0,0,0,0
1304,132019,1,0,0,0,0,0,0,0,0,0,0,0
1305,132019,0,0,1,0,0,0,0,0,0,0,0,0
1306,132012,0,0,0,0,0,0,0,1,0,0,0,0
1307,132012,1,0,0,0,0,0,0,0,0,0,0,0
1308,132012,0,0,0,0,0,0,0,0,1,0,0,0
1309,132012,0,0,1,0,0,0,0,0,0,0,0,0
1310,132002,0,0,0,0,0,1,0,0,0,0,0,0
1311,132002,0,0,0,0,0,0,0,1,0,0,0,0
1312,132002,1,0,0,0,0,0,0,0,0,0,0,0
1313,132002,0,0,1,0,0,0,0,0,0,0,0,0

In [92]:
pd.get_dummies(payment_methods,columns=['Rpayment']).groupby('placeID').sum().head(10)

,Rpayment_American_Express,Rpayment_Carte_Blanche,Rpayment_Diners_Club,Rpayment_Discover,Rpayment_Japan_Credit_Bureau,Rpayment_MasterCard-Eurocard,Rpayment_VISA,Rpayment_Visa,Rpayment_bank_debit_cards,Rpayment_cash,Rpayment_checks,Rpayment_gift_certificates
placeID,,,,,,,,,,,,
132002,1,0,1,0,0,1,0,1,0,0,0,0
132012,1,0,1,0,0,0,0,1,1,0,0,0
132019,1,0,1,0,0,1,0,1,0,0,0,0
132023,1,0,1,0,1,0,0,0,1,0,0,0
132024,1,0,1,0,0,0,0,1,1,0,0,0
132026,1,0,1,0,0,0,0,1,1,0,0,0
132030,1,0,1,0,0,0,0,1,1,0,0,1
132031,0,0,0,1,0,1,0,1,1,0,1,1
132103,1,0,0,0,0,0,0,0,0,0,0,0
132106,1,0,1,0,0,1,0,1,0,0,0,0

In [8]:
cuisine = pd.read_csv(cuisine_url, na_values= '?')
print(cuisine.isnull().sum())
print(cuisine.shape)
cuisine.head(10)

placeID     0
Rcuisine    0
dtype: int64
(916, 2)

   placeID           Rcuisine
0   135110            Spanish
1   135109            Italian
2   135107     Latin_American
3   135106            Mexican
4   135105          Fast_Food
5   135104            Mexican
6   135103            Burgers
7   135103  Dessert-Ice_Cream
8   135103          Fast_Food
9   135103           Hot_Dogs

In [9]:
hours_operating = pd.read_csv(hours_operating_url, na_values= '?')
print(hours_operating.isnull().sum())
print(hours_operating.shape)
hours_operating.head(10)

placeID    0
hours      0
days       0
dtype: int64
(2339, 3)

   placeID         hours                  days
0   135111  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1   135111  00:00-23:30;                  Sat;
2   135111  00:00-23:30;                  Sun;
3   135110  08:00-19:00;  Mon;Tue;Wed;Thu;Fri;
4   135110  00:00-00:00;                  Sat;
5   135110  00:00-00:00;                  Sun;
6   135109  08:00-21:00;  Mon;Tue;Wed;Thu;Fri;
7   135109  08:00-21:00;                  Sat;
8   135109  08:00-21:00;                  Sun;
9   135108  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;

In [10]:
parking = pd.read_csv(parking_url, na_values= '?')
print(parking.isnull().sum())
print(parking.shape)
parking.head(10)

placeID        0
parking_lot    0
dtype: int64
(702, 2)

   placeID    parking_lot
0   135111         public
1   135110           none
2   135109           none
3   135108           none
4   135107           none
5   135106           none
6   135105           none
7   135104            yes
8   135103  valet parking
9   135102  valet parking

In [14]:
#This data set did not read for some reason. I had to make some modifications to the raw file to replace foreign characters.
geo_places = pd.read_csv(geo_places_url, na_values= '?')
print(geo_places.isnull().sum())
print(geo_places.shape)
geo_places.head(10).T

placeID             0
latitude            0
longitude           0
the_geom_meter      0
name                0
address            27
city               18
state              18
country            28
fax               130
zip                74
alcohol             0
smoking_area        0
dress_code          0
accessibility       0
price               0
url               116
Rambience           0
franchise           0
area                0
other_services      0
dtype: int64
(130, 21)

,0,1,2,3,4,5,6,7,8,9
placeID,134999,132825,135106,132667,132613,135040,132732,132875,132609,135082
latitude,18.9154,22.1474,22.1497,23.7527,23.7529,22.1356,23.7544,22.1499,23.7603,22.1514
longitude,-99.1849,-100.983,-100.976,-99.1634,-99.1651,-100.97,-99.1713,-100.994,-99.1659,-100.915
the_geom_meter,0101000020957F000088568DE356715AC138C0A525FC46...,0101000020957F00001AD016568C4858C1243261274BA5...,0101000020957F0000649D6F21634858C119AE9BF528A3...,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,0101000020957F00008A20E615808157C16272FECBF84F...,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,0101000020957F0000A478418BBA8057C133851EB22C4E...,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...
name,Kiku Cuernavaca,puesto de tacos,El Rincon de San Francisco,little pizza Emilio Portes Gil,carnitas_mata,Restaurant los Compadres,Taqueria EL amigo,shi ro ie,Pollo_Frito_Buenos_Aires,la Estrella de Dimas
address,Revolucion,esquina santos degollado y leon guzman,Universidad 169,calle emilio portes gil,lic. Emilio portes gil,Camino a Simon Diaz 155 Centro,Calle Mezquite Fracc Framboyanes,NaN,tampico,Villa de Pozos 192 Villa de Pozos
city,Cuernavaca,s.l.p.,San Luis Potosi,victoria,victoria,San Luis Potosi,Cd Victoria,NaN,victoria,San Luis Potosi
state,Morelos,s.l.p.,San Luis Potosi,tamaulipas,Tamaulipas,SLP,Tamaulipas,NaN,Tamaulipas,SLP
country,Mexico,mexico,Mexico,NaN,Mexico,Mexico,Mexico,NaN,Mexico,Mexico
fax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip,NaN,78280,78000,NaN,NaN,74000,87018,NaN,NaN,78421
alcohol,No_Alcohol_Served,No_Alcohol_Served,Wine-Beer,No_Alcohol_Served,No_Alcohol_Served,Wine-Beer,No_Alcohol_Served,Wine-Beer,No_Alcohol_Served,No_Alcohol_Served
smoking_area,none,none,only at bar,none,permitted,none,none,section,not permitted,none
dress_code,informal,informal,informal,informal,informal,informal,casual,informal,informal,informal
accessibility,no_accessibility,completely,partially,completely,completely,no_accessibility,completely,no_accessibility,completely,no_accessibility
price,medium,low,medium,low,medium,high,low,high,low,medium
url,kikucuernavaca.com.mx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rambience,familiar,familiar,familiar,familiar,familiar,familiar,familiar,familiar,quiet,familiar
franchise,f,f,f,t,t,f,f,t,t,f
area,closed,open,open,closed,closed,closed,open,open,closed,closed
other_services,none,none,none,none,none,none,none,Internet,none,none

In [4]:
user_cuisine = pd.read_csv(user_cuisine_url,na_values= '?')
print(user_cuisine.isnull().sum())
print(user_cuisine.shape)
user_cuisine.head(10)

userID      0
Rcuisine    0
dtype: int64
(330, 2)

  userID          Rcuisine
0  U1001          American
1  U1002           Mexican
2  U1003           Mexican
3  U1004            Bakery
4  U1004  Breakfast-Brunch
5  U1004          Japanese
6  U1004      Contemporary
7  U1004           Mexican
8  U1004            Bagels
9  U1004  Cafe-Coffee_Shop

In [3]:
user_payment = pd.read_csv(user_payment_url,na_values= '?')
print(user_payment.isnull().sum())
print(user_payment.shape)
user_payment.head(10)

userID      0
Upayment    0
dtype: int64
(177, 2)

  userID          Upayment
0  U1001              cash
1  U1002              cash
2  U1003              cash
3  U1004              cash
4  U1004  bank_debit_cards
5  U1005              cash
6  U1006              cash
7  U1007              cash
8  U1008              cash
9  U1009              cash

In [13]:
user_profile = pd.read_csv(user_profile_url,na_values= '?')
print(user_profile.isnull().sum())
print(user_profile.shape)
user_profile.head(10)

userID               0
latitude             0
longitude            0
smoker               3
drink_level          0
dress_preference     5
ambience             6
transport            7
marital_status       4
hijos               11
birth_year           0
interest             0
personality          0
religion             0
activity             7
color                0
weight               0
budget               7
height               0
dtype: int64
(138, 19)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,False,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,False,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,False,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,False,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69
5,U1006,22.150000,-100.983000,True,social drinker,no preference,friends,car owner,single,independent,1989,variety,hard-worker,none,student,blue,75,medium,1.80
6,U1007,22.118464,-100.938256,False,casual drinker,informal,solitary,public,single,independent,1989,variety,thrifty-protector,Catholic,student,purple,60,low,1.59
7,U1008,22.122989,-100.923811,False,social drinker,formal,solitary,public,single,independent,1989,technology,hard-worker,Catholic,student,green,68,low,1.72
8,U1009,22.159427,-100.990448,False,abstemious,formal,family,on foot,single,kids,1991,variety,thrifty-protector,Catholic,student,green,75,medium,1.78
9,U1010,22.190889,-100.998669,False,social drinker,no preference,friends,car owner,married,kids,1987,technology,hard-worker,none,student,green,40,medium,1.67

In [5]:
rating_final = pd.read_csv(rating_final_url, na_values= '?')
print(rating_final.isnull().sum())
print(rating_final.shape)
rating_final.head(10)

userID            0
placeID           0
rating            0
food_rating       0
service_rating    0
dtype: int64
(1161, 5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2
5  U1068   132740       0            0               0
6  U1068   132663       1            1               1
7  U1068   132732       0            0               0
8  U1068   132630       1            1               1
9  U1067   132584       2            2               2